.board {
  text-align: center;
}

.board table,
.board td {
  border-collapse: collapse;
  border: 1px solid black;
}

.board table td {
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  cursor: pointer;
  background-color: white;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}